<a href="https://colab.research.google.com/github/leifblake/cgt370lab1/blob/main/Blake_Leif_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab1 Python Basics
##Leif Blake

In [ ]:
numbers_list = [10, 15, 20, 10, 25, 30, 15, 40, 10]


*   Task 1: Write a function that removes the duplicates in numbers_list
*   Task 2: Write a function that calculates the sum and avarage of numbers_list.

##Solution to Task 1

In [ ]:
numbers_list = [10, 15, 20, 10, 25, 30, 15, 40, 10]

def remove_duplicates(numbers_list):
    seen = set()
    unique_numbers = []
    for number in numbers_list:
        if number not in seen:
            unique_numbers.append(number)
            seen.add(number)
    return unique_numbers

result = remove_duplicates(numbers_list)
print(result)

[10, 15, 20, 25, 30, 40]

##Solution to Task 2

In [ ]:
numbers_list = [10, 15, 20, 10, 25, 30, 15, 40, 10]

def calculate_sum_and_average(numbers_list):
    total = sum(numbers_list)
    average = total / len(numbers_list) if numbers_list else 0
    return total, average

total, average = calculate_sum_and_average(numbers_list)
print(f"Sum: {total}, Average: {average}")

Sum: 175, Average: 19.444444444444443

In [ ]:
names_tuple = ("Alice", "bob", "CHARLIE", "dave", "eve", "Frank")

*   Task 3: Write a function that converts all names to title case (e.g., "bob" â†’ "Bob") and returns a new tuple.
*   Task 4: Write a function that filters out any names that are shorter than 4 characters.

##Solution to Task 3

In [ ]:
names_tuple = ("Alice", "bob", "CHARLIE", "dave", "eve", "Frank")

def convert_to_title_case(names_tuple):
    return tuple(name.title() for name in names_tuple)

result = convert_to_title_case(names_tuple)
print(result)

('Alice', 'Bob', 'Charlie', 'Dave', 'Eve', 'Frank')

##Solution to Task 4

In [ ]:
names_tuple = ("Alice", "bob", "CHARLIE", "dave", "eve", "Frank")

def filter_short_names(names_tuple):
    return tuple(name for name in names_tuple if len(name) >= 4)


result = filter_short_names(names_tuple)
print(result)

('Alice', 'CHARLIE', 'dave', 'Frank')

In [ ]:
student_grades = {
    "Alice": [85, 92, 78],
    "Bob": [79, 84, 88],
    "Charlie": [95, 98, 92],
    "David": [60, 65, 58],
    "Eva": [88, 90, 85],
}

*   Task 5: Write a function that calculates the average grade for each student in student_grades and returns a dictionary with the student name as the key and their average grade as the value.
*   Task 6: Write a function that identifies students whose average grade is below 70 and returns their names in a list.

##Solution to Task 5

In [ ]:
student_grades = {
    "Alice": [85, 92, 78],
    "Bob": [79, 84, 88],
    "Charlie": [95, 98, 92],
    "David": [60, 65, 58],
    "Eva": [88, 90, 85],
}

def calculate_average_grades(student_grades):
    return {student: sum(grades) / len(grades) for student, grades in student_grades.items()}

average_grades = calculate_average_grades(student_grades)
print(average_grades)

{'Alice': 85.0, 'Bob': 83.66666666666667, 'Charlie': 95.0, 'David': 61.0, 'Eva': 87.66666666666667}

##Solution for Task 6

In [ ]:
student_grades = {
    "Alice": [85, 92, 78],
    "Bob": [79, 84, 88],
    "Charlie": [95, 98, 92],
    "David": [60, 65, 58],
    "Eva": [88, 90, 85],
}

def identify_students_below_threshold(student_grades, threshold=70):
    below_threshold = [
        student for student, grades in student_grades.items()
        if sum(grades) / len(grades) < threshold
    ]
    return below_threshold

students_below_70 = identify_students_below_threshold(student_grades)
print(students_below_70)

['David']